@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
html {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(37, 37, 37);
}

h1 {
  color: #E0E0E0;
  margin: 10% 0% 18% 0%;
  text-align: center;
  padding: 0 0.5em;
}

#buttons-container {
  display: flex;
  justify-content: space-between;
  width: min(350px, 95%);
  height: 100px;
}

.button-container {
  border: 2px solid black;
  padding: 10px;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: Barlow, sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #696969, #575757);
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

@media(max-width: 325px) {
  #buttons-container {
    justify-content: space-around;
  }
  .button-container {
    padding: 6px;
  }
  button {
    width: 90px;
    /* height: 50px; */
    font-size: 16px;
  }
}

#source-button {
  background: linear-gradient(to top, rgb(31, 10, 10), rgb(109, 3, 3));
}

#start-button {
  background: linear-gradient(to top, rgb(19, 43, 19), rgb(3, 83, 3));
}

#source-button:hover {
  /* background: linear-gradient(to bottom, #696969, #575757); */
  background: linear-gradient(to top, rgb(41, 23, 23), rgb(75, 2, 2));
}

#start-button:hover {
  background: linear-gradient(to top, rgb(35, 56, 35), rgb(7, 49, 7));
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}