@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

#projects {
  column-count: 2;
  column-gap: 7px;
}

.app {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}