@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* to get consistent sizing across browsers */
  margin: 0;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #e0e0e0;
  /* was going black on iframe fullscreen */
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}

#num-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.2s ease-in;
}

#num-container.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide .2s ease-out;
}

@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

#go {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

#go.hide {
  opacity: 0;
}

#play {
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  opacity: 0;
  transition: translate 0.7s scale 0.7s opacity 2s;
}

#play.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  animation: show 1.2s ease-out;
}

button {
  /* font-family: 'Roboto'; */
  font-family: inherit;
  /* Don't know why, but seems to be necessary */
  font-size: 0.9em;
  letter-spacing: 0.1em;
  font-weight: 500;
  /* background: rgba(92, 94, 207, 0.2); */
  background: #3498db33;
  padding: 0.35em 0.5em;
  ;
  box-shadow: 2px 2px 2px #0A0AC080;
  /* #3498db11; */
  cursor: pointer;
}

@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

#nums {
  color: #3498db;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 50px;
  opacity: 1;
}

#nums.hidden {
  opacity: 0;
}

#nums span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

#nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}

#nums span.out {
  animation: goOut 0.5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg)
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg)
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg)
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg)
  }
}

@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }
  60% {
    transform: translate(-50%, -50%) rotate(20deg)
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg)
  }
}