* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --background-image: url('https://source.unsplash.com/random/150x150');
}

body {
  background-color: steelblue;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

#container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  color: #111;
  margin-bottom: 80px;
}

#box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background-image: var(--background-image);
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  /* background-color: #333; */
  border-color: white;
  border-style: dashed;
  background-image: var(--background-image);
  opacity: 0.3;
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}