/* To do
Simple version -- stays in prev app when exit from full screen. Have added a recommendation to use link

(fixed by adding reset on click to body?) Animated countdown -- incosistenly actually runs in iframe, even though routine is running. A browser problem? Seems to work better     in Firefox. 1st 5x I tried, anyway. Though message & button were smaller until I manually set body to 16px and them to 2rem & 0.9 rem respectively...

On Image Password Strengh (Password Strength Background) and Form Wave Animation, maybe another, is pulling in email & password from browser. Haven't been able to turn it off

Improve loading message for this page

check whole page on phone

iframe width and height were just set in js. Now setting here and adjusting both project width and iframe width w/ media queries below. WIP

Need responsive adjustments:

 
 Toast notification -- make toasts smaller on smaller screen
 ToDo list (top cut off)
 Verify Account UI (top cut off)
...
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --project-width: 600px;
  --iframe-width: 560px;
}

@media(max-width: 600px) {
   :root {
    --project-width: 98%;
    --iframe-width: 98%;
  }
}


/* @media(max-width: 320px) {
   :root {
    --project-width: 250px;
    --iframe-width: 210px;
  }
} */

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f6f7fb;
}

.header {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 25px 25px 25px;
  user-select: none;
  text-shadow: 1px 1px 0px rgb(30, 1, 53);
}

.header a {
  text-decoration: none;
}

.title {
  margin: 20px 0 0;
  padding: 20px 0 0;
  color: rgb(54, 3, 95);
}

#random {
  display: none;
  /*just for testing what happens when come back from project */
}

#projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

#projects {
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  height: var(--project-width);
  width: var(--project-width);
  margin: 14px;
  border: 1px solid black;
  box-shadow: -3px -2px 5px inset rgb(40, 3, 109), 1px 1px 4px inset rgba(40, 3, 109, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(177, 162, 189, 0.03);
  padding: 20px 25px;
  position: relative;
}

.project.clicked {
  transform: scale(.95);
}

.project.visited {
  border: 2px solid #fff;
  box-shadow: none;
  /* This would reset every time when went to project and back until started using session storage */
}

iframe {
  width: var(--iframe-width);
  height: var(--iframe-width);
}

.link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(90, 6, 158);
  color: rgb(30, 1, 53);
  margin-top: 20px;
  /* color: rgb(87, 9, 151) */
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  transform: scale(0.95);
  color: black;
}

.link.visited {
  color: #33f;
  /* only if has class 'visited' */
}

#full-screen-message {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: #E0E0E0B0;
  opacity: 0.8;
  opacity: 0;
}

#full-screen-message:hover {
  opacity: 1
}


/* .project::after:hover {
  content: "Double-click in box to open app in full screen";
  width: 30em;
  height: 5em;
  position: absolute;
  bottom: -80px;
  opacity: 0.2;
} */


/* Loader */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-message {
  font-size: 20px;
  opacity: 0.8;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}